In [15]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.corpus import stopwords

In [16]:
df=pd.read_csv('../data/politeness.tsv',sep='\t')

In [17]:
df.shape

(1397119, 3)

In [18]:
df.head()

                                                 txt style  split
0  forwarded by tana jones / hou / ect on 09/28/2000   P_2  train
1  the clickpaper approvals for 9/27/00 are attac...   P_7  train
2  hello everyone : please let me know if you hav...   P_7  train
3  we are being billed for this service and i do ...   P_0  train
4  louise - i 'm already booked for friday mornin...   P_9  train

In [19]:
p_9_df=df[df['style'] == 'P_9']
p_9_df.shape

(273772, 3)

In [20]:
p_9_df.head()

                                                  txt style  split
4   louise - i 'm already booked for friday mornin...   P_9  train
11  please get back to me if you have any addition...   P_9  train
12  i am enclosing the revised confirmation with t...   P_9  train
13  i have received the email below and have only ...   P_9  train
30  i do not think there will be any issues and sh...   P_9   test

In [21]:
p_0_df=df[df['style'] == 'P_0']
p_0_df.shape

(97246, 3)

In [22]:
p_0_df.head()

                                                  txt style  split
3   we are being billed for this service and i do ...   P_0  train
17  keith e. graham senior counsel united states f...   P_0  train
19  if you are not one of the intended recipients ...   P_0  train
25  if you are not the intended recipient ( or aut...   P_0  train
27  enron corp. ( or any of its affiliates ) and t...   P_0  train

In [23]:
from nltk.tokenize import RegexpTokenizer

In [24]:
tokenizer=RegexpTokenizer(r'\w+')

In [25]:
p_9_df['tokenized_txt']=p_9_df['txt'].apply(lambda x: [w  for w in tokenizer.tokenize(x.lower()) if w not in stopwords.words('english')])

C:\Users\Tomislav\AppData\Local\Temp/ipykernel_26288/461072065.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  p_9_df['tokenized_txt']=p_9_df['txt'].apply(lambda x: [w  for w in tokenizer.tokenize(x.lower()) if w not in stopwords.words('english')])

In [26]:
p_9_df.head()

,txt,style,split,tokenized_txt
4,louise - i 'm already booked for friday mornin...,P_9,train,"[louise, already, booked, friday, morning, inc..."
11,please get back to me if you have any addition...,P_9,train,"[please, get, back, additional, concerns]"
12,i am enclosing the revised confirmation with t...,P_9,train,"[enclosing, revised, confirmation, two, reques..."
13,i have received the email below and have only ...,P_9,train,"[received, email, two, minor, comments, concer..."
30,i do not think there will be any issues and sh...,P_9,test,"[think, issues, ready, tomorrow, possibly, lat..."

In [27]:
p_9_df.to_csv('p_9_df.csv')