In [34]:
import pandas as pd

In [35]:
input_sentences_path = '../../tagger-generator/data/entagged_parallel.test.en'
output_sentences_path = '../../tagger-generator/data/engenerated_parallel.test.generated'
type = 'test'

In [36]:
input_sentences = []
with open(input_sentences_path, 'r') as f:
    input_sentences = f.read().split('\n')

In [37]:
output_sentence = []
with open(output_sentences_path, 'r') as f:
    output_sentence = f.read().split('\n')

In [38]:
len(input_sentences)

25799

In [39]:
len(output_sentence)

25799

In [40]:
raw_data = {
    'input_data' : [l for l in input_sentences],
    'output_data' : [l.replace('[','').replace(']','')  for l in output_sentence]
}

In [41]:
df = pd.DataFrame(raw_data, columns=['input_data', 'output_data'])

In [42]:
df.head()

,input_data,output_data
0,i do not think there will be any issues and or...,i do not think there will be any issues and sh...
1,"it through concord is 90,000dth between niagar...","it through concord is available for 90,000dth ..."
2,"we are posting 50,000 dth excess injection on ...","we are posting 50,000 dth excess injection on ..."
3,i to remind you that our firm transport open s...,i also want to remind you that our firm transp...
4,sales representative detail our website .,please call your firm sales representative for...

In [43]:
df['input_data'] = df['input_data'].astype(str)
df['output_data'] = df['output_data'].astype(str)

In [44]:
df.to_json(f'../data/{type}_data.json')