In [2]:
import pandas as pd
from torchtext.data.utils import get_tokenizer
from torchtext.vocab import build_vocab_from_iterator
from torchtext.datasets import multi30k, Multi30k

/home/tignjatov/anaconda3/envs/ml/lib/python3.6/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
df = pd.read_csv('relevant_data/politeness_train_data.csv')

In [8]:
df[df.isna().any(axis=1)]

       input_data                                        output_data
1277          NaN                 please you can reach me through my
1941          NaN               thank you for your help and patience
41744         NaN              if you could let me have any thoughts
49102         NaN             thank you in advance for your interest
66182         NaN    thanks for your attention and please contact me
68577         NaN        if you have any suggestions or any problems
71655         NaN                let me know how your day is looking
85441         NaN                 thank you if you have any comments
85849         NaN        please provide me any comments and feedback
86377         NaN    if you have any questions please call me at ext
93008         NaN      thank you for your assistance and cooperation
99960         NaN       many thanks for your assistance best regards
100056        NaN  please let me know if you need any further inf...
100424        NaN                 thanks for all your help and sorry
102198        NaN  please let me know if you require any further ...
114154        NaN        sorry for the confusion on getting together
131267        NaN                  thank you very much for your help
134054        NaN              look forward to hearing from you soon
136561        NaN  should you have any questions regarding the above
166511        NaN          thank you again for your time and support
167753        NaN  we would like to send this out early next week so
178947        NaN           let me know if you need more information
212540        NaN                                                NaN

In [3]:
df['input_data'] = df['input_data'].astype('string')
df['output_data'] = df['output_data'].astype('string')

In [4]:
df.head()

,input_data,output_data
0,louise - i 'm already booked morning ( includi...,louise - i 'm already booked for friday mornin...
1,back to you additional concerns .,please get back to me if you have any addition...
2,i am the revised confirmation with the two req...,i am enclosing the revised confirmation with t...
3,i have received the and have only two minor .,i have received the email below and have only ...
4,do the pa and eta for brankrupcty swaps in eac...,do the pa and eta work for brankrupcty swaps i...

In [10]:
df['input_data'] = df['input_data'].apply(lambda x: x.lower())

        input_data  output_data
0            False        False
1            False        False
2            False        False
3            False        False
4            False        False
...            ...          ...
212536       False        False
212537       False        False
212538       False        False
212539       False        False
212540        True         True

[212541 rows x 2 columns]

In [5]:
token_transform = get_tokenizer('basic_english')

In [6]:
from typing import Iterable, List
def yield_tokens(data_iter: Iterable, sentence_type: str) -> List[str]:

    for data_sample in data_iter:
        yield token_transform(data_sample[1])

In [7]:
UNK_IDX, PAD_IDX, BOS_IDX, EOS_IDX = 0, 1, 2, 3
special_symbols = ['<unk>', '<pad>', '<bos>', '<eos>']

In [8]:
data_iterator = yield_tokens(df['input_data'].iteritems(), 'input_data')
input_vocab = build_vocab_from_iterator(data_iterator,
                                                    min_freq=2,
                                                    specials=special_symbols,
                                                    special_first=True)

AttributeError: 'NAType' object has no attribute 'lower'